* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, rgb(39, 223, 39), lightgreen);
}
.text {
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 600;
  color: rgb(19, 19, 18);
  text-transform: uppercase;
}
.number {
  font-size: 24px;
  font-weight: 450;
}
#heading h3 {
  text-align: center;
  letter-spacing: 1.5px;
}
#content {
  margin-top: 20px;
  padding: 50px;
  display: grid;
  justify-content: space-around;
  align-items: center;
  gap: 15px;  
}
div #input {
  background: #e8e6e6;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(0, 138, 237, 0.4);
  border-radius: 10px;
  padding: 15px;
  color: darkgreen;
}
input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
  width: 80%;
  max-width: 65px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background: rgba(120, 187, 242);
}
button {
  padding: 12px;
  background-color: #0046b7;
  border-radius: 20px;
  border: 0.5px solid black;
}
#btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}
#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap:15px;
}
button #buttons {
  cursor: pointer;
  background-color: #0046b7;
  border-radius: 10px;
  border: 1px solid #0046b7;
  transition: all 0.2s ease-in-out;
  color: aliceblue;
  font-size: 20px;
}
button:hover {
  transform: scale(1.1, 1.2);
  transition: all 0.2s ease-in-out;
}
#input {
  margin-top: 50px;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.result {
  margin-top: 10px;
}
